@font-face {
    font-family: 'Elena';
    src:url('./fonts/Elena/ElenaRegular.eot');
    src:url('./fonts/Elena/ElenaRegular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Elena/ElenaRegular.woff2') format('woff2'),
        url('./fonts/Elena/ElenaRegular.woff') format('woff'),
        url('./fonts/Elena/ElenaRegular.ttf') format('truetype'),
        url('./fonts/Elena/ElenaRegular.svg#ElenaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Canvas';
    src:url('./fonts/Canvas/Black/MADECanvas-Black.eot');
    src:url('./fonts/Canvas/Black/MADECanvas-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Canvas/Black/MADECanvas-Black.woff2') format('woff2'),
        url('./fonts/Canvas/Black/MADECanvas-Black.woff') format('woff'),
        url('./fonts/Canvas/Black/MADECanvas-Black.ttf') format('truetype'),
        url('./fonts/Canvas/Black/MADECanvas-Black.svg#MADECanvas-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Canvas';
    src:url('./fonts/Canvas/Regular/MADECanvas.eot');
    src:url('./fonts/Canvas/Regular/MADECanvas.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Canvas/Regular/MADECanvas.woff2') format('woff2'),
        url('./fonts/Canvas/Regular/MADECanvas.woff') format('woff'),
        url('./fonts/Canvas/Regular/MADECanvas.ttf') format('truetype'),
        url('./fonts/Canvas/Regular/MADECanvas.svg#MADECanvas') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Canvas';
    src:url('./fonts/Canvas/Light/MADECanvas-Light.eot');
    src:url('./fonts/Canvas/Light/MADECanvas-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Canvas/Light/MADECanvas-Light.woff2') format('woff2'),
        url('./fonts/Canvas/Light/MADECanvas-Light.woff') format('woff'),
        url('./fonts/Canvas/Light/MADECanvas-Light.ttf') format('truetype'),
        url('./fonts/Canvas/Light/MADECanvas-Light.svg#MADECanvas-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Alaska';
    src:url('./fonts/Alaska/ALASKA.eot');
    src:url('./fonts/Alaska/ALASKA.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Alaska/ALASKA.woff2') format('woff2'),
        url('./fonts/Alaska/ALASKA.woff') format('woff'),
        url('./fonts/Alaska/ALASKA.ttf') format('truetype'),
        url('./fonts/Alaska/ALASKA.svg#ALASKA') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Wavehaus';
    src:url('./fonts/Wavehaus/ExtraBold/Wavehaus-158ExtraBold.eot');
    src:url('./fonts/Wavehaus/ExtraBold/Wavehaus-158ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Wavehaus/ExtraBold/Wavehaus-158ExtraBold.woff2') format('woff2'),
        url('./fonts/Wavehaus/ExtraBold/Wavehaus-158ExtraBold.woff') format('woff'),
        url('./fonts/Wavehaus/ExtraBold/Wavehaus-158ExtraBold.ttf') format('truetype'),
        url('./fonts/Wavehaus/ExtraBold/Wavehaus-158ExtraBold.svg#Wavehaus-158ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Wavehaus';
    src:url('./fonts/Wavehaus/SemiBold/Wavehaus-95SemiBold.eot');
    src:url('./fonts/Wavehaus/SemiBold/Wavehaus-95SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Wavehaus/SemiBold/Wavehaus-95SemiBold.woff2') format('woff2'),
        url('./fonts/Wavehaus/SemiBold/Wavehaus-95SemiBold.woff') format('woff'),
        url('./fonts/Wavehaus/SemiBold/Wavehaus-95SemiBold.ttf') format('truetype'),
        url('./fonts/Wavehaus/SemiBold/Wavehaus-95SemiBold.svg#Wavehaus-95SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Wavehaus';
    src:url('./fonts/Wavehaus/Thin/Wavehaus-28Thin.eot');
    src:url('./fonts/Wavehaus/Thin/Wavehaus-28Thin.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Wavehaus/Thin/Wavehaus-28Thin.woff2') format('woff2'),
        url('./fonts/Wavehaus/Thin/Wavehaus-28Thin.woff') format('woff'),
        url('./fonts/Wavehaus/Thin/Wavehaus-28Thin.ttf') format('truetype'),
        url('./fonts/Wavehaus/Thin/Wavehaus-28Thin.svg#Wavehaus-28Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Wavehaus';
    src:url('./fonts/Wavehaus/Bold/Wavehaus-128Bold.eot');
    src:url('./fonts/Wavehaus/Bold/Wavehaus-128Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Wavehaus/Bold/Wavehaus-128Bold.woff2') format('woff2'),
        url('./fonts/Wavehaus/Bold/Wavehaus-128Bold.woff') format('woff'),
        url('./fonts/Wavehaus/Bold/Wavehaus-128Bold.ttf') format('truetype'),
        url('./fonts/Wavehaus/Bold/Wavehaus-128Bold.svg#Wavehaus-128Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Wavehaus Book';
    src:url('./fonts/Wavehaus/Book/Wavehaus-66Book.eot');
    src:url('./fonts/Wavehaus/Book/Wavehaus-66Book.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Wavehaus/Book/Wavehaus-66Book.woff2') format('woff2'),
        url('./fonts/Wavehaus/Book/Wavehaus-66Book.woff') format('woff'),
        url('./fonts/Wavehaus/Book/Wavehaus-66Book.ttf') format('truetype'),
        url('./fonts/Wavehaus/Book/Wavehaus-66Book.svg#Wavehaus-66Book') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Wavehaus';
    src:url('./fonts/Wavehaus/Light/Wavehaus-42Light.eot');
    src:url('./fonts/Wavehaus/Light/Wavehaus-42Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Wavehaus/Light/Wavehaus-42Light.woff2') format('woff2'),
        url('./fonts/Wavehaus/Light/Wavehaus-42Light.woff') format('woff'),
        url('./fonts/Wavehaus/Light/Wavehaus-42Light.ttf') format('truetype'),
        url('./fonts/Wavehaus/Light/Wavehaus-42Light.svg#Wavehaus-42Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

