@import palette
@import base
// @import trig
::-webkit-scrollbar 
    width: 12px


::-webkit-scrollbar-track 
    background: $transblue5


::-webkit-scrollbar-thumb 
    background: rgba(255, 255, 255, 1)
    border: 2px solid $transblue5
    border-radius: 500px
    
html,
body
    overflow-x: hidden
    margin: 0
    padding: 0
    width: 100vw
    +flexbox()
    min-height: 100vh
    flex-direction: column

.Site
    flex: 1

nav
    width: 4%
    height: 100vh
    position: fixed
    z-index: 10
    +bgbasics('', $blue)
    +border(0px solid transparent, 0)
    @extend %no-space
    @extend %qtrans
    +respond-to(handhelds)
        width: 100%
        height: 6%
    +respond-to(medium-screens)
        width: 8%

button
    +bgbasics('', transparent)
    +border(0px solid #ffffff, 0)
    @extend %no-space
    width: 100%
    height: 4vw
    @extend %flex-center
    @extend %qtrans
    &:focus
        outline: none
    &:hover
        +bgbasics('', $blue)
    +respond-to(handhelds)
        margin-left: 1em
        height: 100%
        display: static
        justify-content: left
        align-items: center
    +respond-to(medium-screens)
        margin-top: 1.5em
    .icon
        @extend %no-space
        list-style-type: none
        .line
            height: 0.3em
            margin: 0.3em 0
            +bgbasics('', #ffffff)
            +border(0px solid transparent, 500px)
            @for $i from 0 through 3
                &:nth-child(#{$i})
                    width: 0.7em + ($i * 0.5)

.nav
    width: 100%
    margin: 4em
    +respond-to(handhelds)
        margin: 4em 1em
    ul
        list-style-type: none
        @extend %no-space
        .link
            opacity: 0
            transform: scale(0, 0)
            @extend %qtrans
            margin: 2em 0
            a
                color: #ffffff
                text-decoration: none
                font-family: $regfont
                text-transform: uppercase
                font-weight: bold
                font-size: 2em
                padding: 1em
                @extend %qtrans
                &:hover
                    @extend %qtrans
                    letter-spacing: 0.1em
                +respond-to(handhelds)
                    font-size: 1.5em

.toggled
    width: 100%
    @extend %qtrans
    +respond-to(handhelds)
        height: 100%
    button
        width: 4%
        +respond-to(handhelds)
            height: 4vw
            margin: 1em
        +respond-to(medium-screens)
            margin-left: 1.5em
        @extend %qtrans
        .icon
            .line
                width: 2.2em
                &:nth-child(1)
                    transform: translateY(0.6em) rotate(45deg)
                &:nth-child(2)
                    width: 0
                    +border(0px solid transparent, 0)
                &:nth-child(3)
                    transform: translateY(-0.6em) rotate(-45deg)
    .nav
        ul
            .link
                opacity: 1
                transform: scale(1, 1)
                @extend %qtrans

.top
    width: 96%
    height: 100vh
    z-index: 0
    top: 0
    margin-left: 4%
    +bgbasics('', $transblue4)
    +border(0px solid transparent, 0)
    +respond-to(handhelds)
        margin-left: 0
        width: 100%

.lgbg
    position: absolute
    z-index: -1
    height: 100vh
    width: 100vw
    +bgbasics('../assets/ggbridge1.jpg', transparent)
    +respond-to(handhelds)
        background-position: 80%

footer
    +border(0px solid transparent, 0)
    @extend %no-space
    width: 96%
    margin-left: 3.5%
    +bgbasics('', $transblue1)
    +respond-to(handhelds)
        width: 100%
        margin: 0
    .social
        float: left
        padding: 1em
        width: 50%
        +respond-to(handhelds)
            width: 100%
            text-align: center
            padding: 1em 0
        a
            font-size: 2em
            text-decoration: none
            color: #ffffff
            @extend %qtrans
            margin: 1em
            &:hover
                opacity: 0.8
                @extend %qtrans
    .contact
        padding: 3.5em
        +respond-to(handhelds)
            text-align: center
        h3
            font-family: $regfont
            color: #ffffff
            @extend %no-space
            a
                color: #ffffff
                @extend %qtrans
                &:hover
                    text-decoration: none
                    @extend %qtrans

.title
    @extend %no-space
    color: #ffffff
    font-family: $regfont
    text-transform: uppercase
    letter-spacing: 1em
    font-size: 7em
    padding: 1em
    +respond-to(handhelds)
        font-size: 2.5em
        padding: 2em 0.5em

.pageheader
    width: 96%
    margin-left: 4%
    position: fixed
    background: linear-gradient(to top right, $transblue3, $blue)
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%)
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%)
    padding: 1.2em
    +respond-to(handhelds)
        margin-top: 10%
        width: 100%
        margin-left: 0
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%)
        clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%)
    .pagetitle
        @extend %no-space
        color: #ffffff
        font-family: $regfont
        font-size: 2em

.comingsoon
    color: $blue
    font-family: $regfont
    font-size: 3em
    margin: 0 2em
    margin-bottom: 0.5em
.addendum
    color: $blue
    font-family: $regfont
    font-size: 1.5em
    @extend %no-space
    margin: 0 4em
    line-height: 2em

.greeting
    padding: 0 4em
    +respond-to(handhelds)
        padding: 3em
    h1
        @extend %no-space
        color: $blue
        font-family: $regfont
        font-size: 3em
    h3
        font-family: $regfont
        line-height: 2em
        width: 50%
        color: #666666
        +respond-to(handhelds)
            width: 100%

#about
    margin-top: 0
    padding-bottom: 2em
    .overview
        font-family: $regfont
        color: #666666
    .expoverview
        font-family: $regfont
        color: #666666
        line-height: 2em
        font-weight: 600
    .apply
        font-family: $regfont
        font-weight: bold
        font-size: 1.5em

.noletterspace
    letter-spacing: 0

main
    margin-top: 8em
    width: 96%
    margin-left: 4%
    +respond-to(handhelds)
        margin-left: 0
        width: 100%

.actbuttons
    button
        display: inline-block
        width: 10em
        +bgbasics('', $blue)
        @extend %no-space
        margin: 1em
        @extend %qtrans
        &:hover
            +bgbasics('', $transblue2)
            @extend %qtrans
        &:nth-child(1)
            margin-left: 0
        a
            color: #ffffff
            font-family: $regfont
            font-weight: bold
            font-size: 1.2em
            text-decoration: none
            width: 100%
            height: 100%

.contentsection
    padding: 1em 4em
    +respond-to(handhelds)
        padding: 3em

.secttitle
    color: $blue
    font-size: 3em
    font-family: $regfont

.question, .category, .tba
    font-size: 1.5em
    margin: 0.75em 0
    +respond-to(handhelds)
        font-size: 1.3em


.answer
    font-size: 1.2em
    +respond-to(handhelds)
        font-size: 1em

.catdes
    font-size: 1em

.answer, .catdes, .tba
    font-weight: 600
    line-height: 2em

.question, .answer, .category, .catdes, .tba
    @extend %regtext

.bandcard
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
    margin: 4em
    +flexbox()
    .bandimg
        +flex(1 0 30%)
        padding: 2em
        +bgbasics('../assets/ggbridge2.jpg', transparent)
    .bandinfo
        padding: 2em
        .bandname
            color: #666666
            font-family: $regfont
        .banddescription
            color: #666666
            font-family: $regfont
            font-weight: 600
            line-height: 2em

.bandsocial
    a
        color: $blue
        text-decoration: none
        font-size: 2em
        margin: 1em

.genericlink
    color: $transblue2
    @extend %qtrans
    text-decoration: none
    &:hover
        color: $blue
        @extend %qtrans