---
permalink: /battleofthebands
---

{% include header.html %} {% include nav.html content="bands" %}
<img src="assets/images/blob2.svg" id="back" />
<img src="assets/images/blob.png" id="back2" />
<div class="bands-content">
  <div id="row">
    <div>
      <h1 class="big-boy top">Welcome to Battle of the Bands!</h1>
      <p class="content-text">
        The Battle of the Bands is an amazing event where students can showcase
        their passion for music by performing in front of an enthusiastic
        audience. The Youth Expo is proud to bring their Battle of the Bands to Dublin for the third year in a row. It will feature multiple bands with a variety of musical styles. All music will be appropriate for children of all ages and free food will be provided to attendees. The environment will be lively, family-friendly, and increase community involvement in the Valley’s youth! Drop by for a great time and enjoy the show! You can sign up for the Battle of the Bands by filling
        out the form below. 
      </p>
      <h1 class="small-boy">Where?</h1>
      <p class="content-text">Emerald Glen Park</p>
      <h1 class="small-boy">When?</h1>
      <p class="content-text">2PM - 8PM, June 6</p>
    </div>
    <h1 class="big-boy sign-up">Sign Up Today!!!</h1>
    <a href="https://battleofthebands2020.typeform.com">
      <button>
        Sign Up
      </button>
    </a>
  </div>
</div>
{% include footer.html %}