---
permalink: /hackathon
---

<html>
  <body>
    {% include header.html %} {% include nav.html content="hacks" %}

    <div id="side-nav">
      <a href="#faq" class="faq"><h1>FAQ</h1></a>
      <div class="vertical-line"></div>
      <a href="#categories" class="cat"><h1>Categories</h1></a>
      <div class="vertical-line"></div>
      <a href="#prizes" class="prizes"><h1>Prizes</h1></a>
      <div class="vertical-line"></div>
      <a href="#schedule" class="sched"><h1>Schedule</h1></a>
    </div>
    <img src="assets/images/blob.png" id="back" />
    <img src="assets/images/blob2.svg" id="back2" />
    <img src="assets/images/blob.png" id="back3" />
    <img src="assets/images/blob2.svg" id="back4" />
    <img src="assets/images/blob.png" id="back5" />
    <div class="hacks-content">
      <div>
        <h1 class="big-boy">Welcome to Expo Hacks III!</h1>
        <p class="content-text">
          Expo Hacks is a high school hackathon — that is, an intensive
          twelve-hour programming event where students work in teams to develop
          various software projects. The award categories of this hackathon
          include health, buisness, and education. Meet people with the same
          passion for creating as you and participate in some of our numerous
          workshops to learn about different skills you can use to compete in
          the competition. Sign up now to win some amazing prizes!
        </p>
        <h1 class="small-boy">Where?</h1>
        <p class="content-text">Dublin High School</p>
        <h1 class="small-boy">When?</h1>
        <p class="content-text">April 11, 2020</p>
        <a href="https://expohacksiii.typeform.com/to/Iyf5ZF">
          <button>
            Sign Up
          </button>
        </a>
        <div id="faq"></div>
        <h1 class="big-boy">FAQ</h1>
        <h1 class="small-boy">Who can participate?</h1>
        <p class="content-text">
          Any high school student and 8th grader can participate in all of our events. If
          you've graduated from high school but still want to participate, feel
          free to contact us to inquire into being a mentor!
        </p>
        <h1 class="small-boy">How do I form or join a team?</h1>
        <p class="content-text">
          There will be a session at the beginning of the hackathon for you to
          meet others and form teams. Each team may have a maximum of four (4)
          people. You will also be invited to our Slack one week before the
          event starts; feel free to start making connections with other
          students there!
        </p>
        <h1 class="small-boy">What should I bring?</h1>
        <p class="content-text">
          Bring a valid student ID, a laptop, chargers, and power strips if
          necessary. We’ll supply an area for you to hang out.
        </p>
        <h1 class="small-boy">What if I have dietary restrictions?</h1>
        <p class="content-text">
          Just remember to add them to your application when you sign up — we’ll
          be sure to accommodate you! Please note that we do offer vegetarian
          options for all of our meals.
        </p>
        <h1 class="small-boy">Who runs Expo Hacks?</h1>
        <p class="content-text">
          Expo Hacks is run by the umbrella organization otherwise known as the
          Tri-Valley Youth Expo. We are comprised of a group of students from
          across the Tri-Valley. You can learn more about us when you
          <a href="/meettheteam">meet the team</a>
        </p>
        <div id="categories"></div>
        <h1 class="big-boy">Prize Categories</h1>
        <h1 class="small-boy">Health</h1>
        <p class="content-text">
          Health has always been a field where issues are created just as often
          as they are solved. While epidemics such as the infamous chicken pox
          and measles are almost fully eradicated, cancer, obesity, and other
          degenerative diseases are facing our society today. And that isn’t all
          — there are plenty of physical and mental disabilities that limit
          other people’s ability to succeed. In Health, your goal is to help
          make the world a safe, inclusive place — with a project that makes
          someone’s life easier, whether it’s a modern-day text-to-speak program
          or an ingenious app for quick medical communication.
        </p>
        <h1 class="small-boy">Security</h1>
        <p class="content-text">
          Everyday, millions of crimes occur all around the world. To fix these
          endless problems, it is important to innovate and come up with
          different ideas to make sure that people who live in areas that have
          high rates of crime are safe. There are so many different ways we can
          approach this problem - from developing cost-efficient security
          cameras to using the power of Artifical Intelligence to alert
          authorities. When it comes to security, it is important to come up
          with an idea that can effectively protect things while not being
          expensive as well.
        </p>
        <div id="prizes"></div>
        <h1 class="big-boy">Prizes</h1>
        <h1 class="small-boy">To be determined.</h1>
        <div id="schedule"></div>
        <h1 class="big-boy">Schedule</h1>
        <h1 class="small-boy">To be determined.</h1>
      </div>
      <div id="right"></div>
    </div>
    {% include footer.html %}
  </body>
</html>
