---
permalink: /meettheteam
---

{% include header.html %} {% include nav.html content="team" %}
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
  crossorigin="anonymous"
/>
<div class="content">
  <div id="cards">
    <div class="card">
        <img src="assets/images/Diya.jpg"/>
        <p class="name">Diya</p>
        <p class="title">President</p>
        <div class="social">
          <a href="https://www.linkedin.com/in/diya-vij-916a30167/" class="fab fa-linkedin"></a>
          <a
            href="mailto:vij.diya@gmail.com"
            class="far fa-envelope"
          ></a>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/Aditya.JPG"/>
        <p class="name">Aditya</p>
        <p class="title">Vice President</p>
        <div class="social">
          <a href="https://www.linkedin.com/in/aditya-raj-goyal-927153178/" class="fab fa-linkedin"></a>
          <a
            href="mailto:adityarajgoyal800@gmail.com"
            class="far fa-envelope"
          ></a>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/anshul.jpg"/>
        <p class="name">Anshul</p>
        <p class="title">Development Lead</p>
        <div class="social">
          <a href="https://www.linkedin.com/in/anshul-kashyap-4b371517b/" class="fab fa-linkedin"></a>
          <a
            href="https://github.com/Cyb3rBlaze"
            class="fab fa-github"
          ></a>
          <a
            href="mailto:kashyapanshulp@gmail.com"
            class="far fa-envelope"
          ></a>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/tanish.png"/>
        <p class="name">Tanish</p>
        <p class="title">Treasurer</p>
        <div class="social">
          <a href="https://www.linkedin.com/in/tanish-baranwal-17a09773/" class="fab fa-linkedin"></a>
          <a
            href="https://github.com/tekotan"
            class="fab fa-github"
          ></a>
          <a
            href="mailto:b.tanish@gmail.com"
            class="far fa-envelope"
          ></a>
        </div>  
      </div>
      <!--Part2-->
      <div class="card">
        <img src="assets/images/aarush.png"/>
        <p class="name">Aarush</p>
        <p class="title">Secretary</p>
        <div class="social">
          <a href="https://www.linkedin.com/in/aarush-aitha-6b121a153/" class="fab fa-linkedin"></a>
          <a
            href="https://github.com/aarush3002"
            class="fab fa-github"
          ></a>
          <a
            href="mailto:aarush3002@gmail.com"
            class="far fa-envelope"
          ></a>
        </div>  
      </div>
      <div class="card">
        <img src="assets/images/aarya.jpeg" id="aarya"/>
        <p class="name">Aarya</p>
        <p class="title">Head of Media</p>
        <div class="social">
          <a href="https://www.linkedin.com/in/aarya-naredla-87b7b4178/" class="fab fa-linkedin"></a>
          <a
            href="mailto:aarya@trivalleyyouthexpo.com"
            class="far fa-envelope"
          ></a>
        </div>  
      </div>
      <div class="card">
          <img src="assets/images/Avi.JPG"/>
          <p class="name">Avi</p>
          <p class="title">Head of Communications</p>
          <div class="social">
            <a href="https://www.linkedin.com/in/avi-patel-4157b5178/" class="fab fa-linkedin"></a>
            <a
              href="https://github.com/APatel2001"
              class="fab fa-github"
            ></a>
          </div>  
        </div>
      <div class="card">
        <img src="assets/images/sujal.png"/>
        <p class="name">Sujal</p>
        <p class="title">Head of Operations</p>
        <div class="social">
          <a href="https://www.linkedin.com/in/sujal-nahata-962b43154/" class="fab fa-linkedin"></a>
          <a
            href="https://github.com/SujalN"
            class="fab fa-github"
          ></a>
          <a
            href="mailto:sujalnahata@gmail.com"
            class="far fa-envelope"
          ></a>
        </div>  
      </div>
      <div class="card">
        <img src="assets/images/sudhanva.png"/>
        <p class="name">Sudhanva</p>
        <p class="title">Operations</p>
        <div class="social">
          <a href="https://www.linkedin.com/in/sudhanva-bharadwaj-7a5a46107/" class="fab fa-linkedin"></a>
          <!--<a
            href=""
            class="far fa-envelope"
          ></a>-->
        </div>  
      </div>
      <!--Part3-->
      <div class="card">
        <img src="assets/images/Varsha.jpg"/>
        <p class="name">Varsha</p>
        <p class="title">Operations</p>
        <div class="social">
          <a
            href="mailto:varsha.mattaparti@gmail.com"
            class="far fa-envelope"
          ></a>
        </div>  
      </div>
      <div class="card">
        <img src="assets/images/hot_aarush.png"/>
        <p class="name">Ridhi</p>
        <p class="title">Media</p>
        <!--<div class="social">
          <a href="" class="fab fa-linkedin"></a>
          <a
            href=""
            class="fab fa-github"
          ></a>
        </div>-->  
      </div>
      <div class="card">
        <img src="assets/images/Nitin.JPG"/>
        <p class="name">Nitin</p>
        <p class="title">Media</p>
        <div class="social">
          <a href="https://www.linkedin.com/in/nitin-indukuri-7807b4178/" class="fab fa-linkedin"></a>
        </div>  
      </div>
      <div class="card">
        <img src="assets/images/Kaushik.JPG" id="kaushik"/>
        <p class="name">Kaushik</p>
        <p class="title">Communications</p>
        <div class="social">
            <a
            href="mailto:"
            class="far fa-envelope"
          ></a>
        </div>  
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
