---
---

@import typography
@import palette
@import mixins
@import extendables

html,
body
    width: 100vw
    overflow-x: hidden
    scroll-behavior: smooth
    @extend %ns

#nav
    position: fixed
    z-index: 24
    width: 100%
    background: rgba(255, 255, 255, 0.9)
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
    @extend %ns
    +flexbox()
    @extend %flex-center
    .links
        list-style-type: none
        align-items: center
        +flexbox()
        @extend %ns

.navlink > a
    color: #444444
    padding: 1em 0
    text-decoration: none
    @extend %qt

.navlink:hover > a
    box-shadow: inset 0 -5px 0px $primary
    color: $primary
    @extend %qt

.navlink
    text-align: center
    font-family: $reg
    padding: 1em
    font-weight: bold
    font-size: 1.2em
    +respond-to(handhelds)
        font-size: 0.9em
        padding: 0.8em
    // margin: 0 1em
    // +border(1px solid red, 0)

.navlink > .active
    color: $primary

.content
    @extend %flex-center
    +respond-to(handhelds)
        display: block

.Site
    +flexbox()
    +respond-to(handhelds)
        display: block

.logo
    +respond-to(handhelds)
        display: none
    @extend %flex-center
    background: #ffffff
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)
    position: absolute
    width: 7.5em
    height: 7.5em
    z-index: 10
    @extend %qt
    +border(5px solid transparent, 500px)
    &:hover
        @extend %qt
        +border(15px solid $primary, 500)
    img
        width: 5em
        margin-top: 10px
        margin-left: 3px

.building
    position: absolute
    font-family: $reg
    color: #444444
    font-size: 3em
    margin-top: 6em

.event
    height: 100vh
    width: 50vw
    +flex(1 0 50%)
    @extend %flex-center
    +respond-to(handhelds)
        width: 100%
        text-align: center
        height: 200%
    &::after
        content: ""
        position: absolute
        width: 50vw
        height: 100vh
        background: rgba(0, 0, 0, 0.2)
        z-index: 1
        +respond-to(handhelds)
            width: 100%
            display: none
    &:nth-child(1)
        background-image: url('https://images.unsplash.com/photo-1526749464606-83091e34a261?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80')
        background-position: center
        background-size: 100%
        background-repeat: no-repeat
        // background-image: url('../images/undraw_compose_music_ovo2.svg')
    &:nth-child(2)
        background-image: url('https://images.unsplash.com/photo-1542546068979-b6affb46ea8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80')
        // background-image: url('../images/undraw_programmer_imem.svg')
        background-size: 100%
        background-repeat: no-repeat
        background-position: center

.eventcontent
    position: relative
    z-index: 3
    color: #efefef
    font-size: 2em
    a
        color: #efefef
        text-decoration: none
    .band
        font-family: $band
        @extend %ns
        +respond-to(handhelds)
            font-size: 1.5em
            margin-top: 60%
            margin-bottom: 20%
    .hack
        font-family: monospace
        @extend %ns
        +respond-to(handhelds)
            font-size: 1.5em
            margin-top: 40%
            margin-bottom: 20%

.info
    background: #ffffff
    margin-top: 1em
    text-align: center
    padding: 0.5em
    +respond-to(handhelds)
        background: #efefef
        width: 110%
        margin-left: -10% 

.details
    font-family: $reg
    font-size: 0.8em
    color: $primary
    @extend %ns

#openletter
    padding: 4em
    font-family: $reg
    color: #444444
    align-items: center
    background-color: white
    +flexbox()
    +respond-to(handhelds)
        display: block
    .letter
        margin-right: 4em
        line-height: 2em
        +flex(1 0 60%)
        +respond-to(handhelds)
            margin: auto
            text-align: center
        h3
            color: $primary
    #diyaface
        width: 17.5em
        height: 17.5em
        margin-right: 4em
        border-radius: 10px
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
        +respond-to(handhelds)
            width: 100%
            height: 100%
            margin: auto
            margin-top: 20%

#signature
    font-weight: 600
    color: #444444
    line-height: 1em
    @extend %ns
    margin-top: 0.5em

#sigimg
    width: 8em
    margin-top: 1em
    @extend %ns

#signature + a
    line-height: 1em
    font-weight: 600
    color: $primary
    text-decoration: none
    @extend %qt
    &:hover
        text-decoration: underline
        @extend %qt

/*=======Sponsors=======*/
.sponsor-cell
    width: 30em
    text-align: center
    margin-top: 20em
    +respond-to(handhelds)
        width: 90%
        margin: auto
        margin-top: 30%
        margin-bottom: 20%
    img
        height: 10em
    h1
        color: #444444
        font-family: $reg

.sponsors-title
    position: absolute
    font-family: $reg
    color: #444444
    margin-top: -1.5em
    font-size: 3.5em
    +respond-to(handhelds)
        font-size: 400%
        margin-left: 11%
        padding-top: 60%
        margin-bottom: 20%
        position: relative

/*=======Expo Hacks=======*/
.hacks-content
    padding: 15%
    padding-top: 5em
    width: 65%
    display: flex
    +respond-to(handhelds)
        text-align: center
    .big-boy
        font-family: $reg
        color: #5271ff
        font-size: 3em
        margin-top: 2em

    .small-boy
        font-family: $reg
        color: #444444
        font-size: 1.5em
        margin-top: 1em

    .content-text
        font-family: $reg
        color: #444444
        font-size: 1.2em
        text-align: "left"
        line-height: 2em
    button
        border: none
        color: white
        padding: 2%
        font-size: 1.5em
        background-color: #5271ff
        font-family: $reg
        margin: 5%
        margin-left: 0
        width: 12%
        +respond-to(handhelds)
            width: 60%
            padding: 10%
            margin: auto
            margin-top: 20%
            margin-bottom: 20%
    button
        cursor: pointer
    a
        color: #5271ff
        text-decoration: none

/*=======Battle of the Bands=======*/
.bands-content
    +respond-to(handhelds)
        text-align: center
    .big-boy
        font-family: $reg
        color: #5271ff
        font-size: 3em
        margin-top: 2em
        margin-left: 10%
        +respond-to(handhelds)
            margin-left: 0%
    .top
        margin-top: 4em
    .sign-up
        margin-bottom: -1%
    .small-boy
        font-family: $reg
        color: #444444
        font-size: 1.5em
        margin-top: 1em
        margin-left: 10%
        +respond-to(handhelds)
            margin-left: 0%
    .content-text
        font-family: $reg
        color: #444444
        font-size: 1.2em
        line-height: 2em
        margin-left: 10%
        margin-right: 10%
    form
        +flexbox()
        flex-direction: column
        margin-left: 10%
        +respond-to(handhelds)
            margin-left: 0%
        label
            font-family: $reg
            color: #444444
            font-size: 1.5em
            margin-top: 4em
            input
                border: none
                border-bottom: 2px solid #444444
                font-size: 1em
                font-family: $reg
                width: 60%
                +respond-to(handhelds)
                    width: 80%
                    font-size: 0.8em
            input:focus
                transition: 0.5s
                outline-width: 0
                border-bottom: 2px solid #66a1ff
            textarea
                border: none
                border-bottom: 2px solid #444444
                font-size: 1em
                font-family: $reg
                width: 60%
                +respond-to(handhelds)
                    width: 80%
                    font-size: 0.8em
            textarea:focus
                transition: 0.5s
                outline-width: 0
                border-bottom: 2px solid #66a1ff

        button
            border: none
            color: white
            padding: 2%
            font-size: 1.5em
            background-color: #5271ff
            font-family: $reg
            margin: 5%
            margin-left: 0
            width: 12%
            +respond-to(handhelds)
                width: 40%
                padding: 5%
                margin: auto
                margin-top: 20%
                margin-bottom: 20%
        button
            cursor: pointer

/*=======Meet the Team=======*/
#cards
    +flexbox()
    flex-wrap: wrap
    margin-left: 4%
    padding-top: 10%
    +respond-to(handhelds)
        margin: 5%
        padding: 0
    .card
        background-color: white
        text-align: center
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2)
        width: 12%
        padding: 3%
        margin: 3%
        border-radius: 10px
        +respond-to(handhelds)
            width: 100%
            margin-top: 20%
        img
            width: 70%
            height: 45%
            position: relative
            border-radius: 400px
            +respond-to(handhelds)
                width: 50%
                margin-top: 10%
        .name
            color: #474747
            font-family: "Gilroy", sans-serif
            font-size: 1.5em
        .title
            color: #474747
            font-family: "Gilroy", sans-serif
            font-size: 1em
            margin-top: -5%
        .social > a
            color: #474747
            margin: 0.5em
            font-size: 1.5em
            text-decoration: none
        .social > a:hover
            transition: 0.5s
            color: #66a1ff